<body>
	API specification for
	<a href="http://www.jivesoftware.org/smack">Smack</a>, an Open Source
	XMPP client library.
	<p>The {@link org.jivesoftware.smack.XMPPConnection} class is the
		main entry point for the API.
</body>
