.chat{
		-fx-background-image: url("/images/chat_2.png");
}  
.member{
		-fx-background-image: url("/images/member_2.png");
} 
.group{
		-fx-background-image: url("/images/group_2.png");
} 
.setting{
		-fx-background-image: url("/images/setting_2.png");
} 
.logout{
		-fx-background-image:  url("/images/navi-signout-grey.png");
}

.buttonsvary{
	  	-fx-background-color: transparent;
    	-fx-margin : 0;
}

.buttonsinit{
		-fx-background-size :  18px 18px;
		-fx-background-repeat : no-repeat;
		-fx-background-position : center;
} 
.buttonsclicked{
		-fx-border-color: linear-gradient(to right, #28c6df, #29c7e0);
		-fx-border-width: 0 0 0 2.5;
	 	-fx-background-color: #FFFFFF;
} 

.chatclicked{
	-fx-background-image: url("/images/chat_1.png");
}
.memberclicked{
	-fx-background-image: url("/images/member_1.png");
}
.groupclicked{
	-fx-background-image: url("/images/group_1.png");
}
.settingclicked{
	-fx-background-image: url("/images/setting_1.png");
}
.logoutclicked{
	-fx-background-image: url("/images/navi-signout.png");
}

#chat:pressed,#chat:hover,#chat:focused {
	-fx-background-image: url("/images/chat_1.png");
	-fx-background-size: 18px 18px;
	-fx-border-color: linear-gradient(to right, #28c6df, #29c7e0);
	-fx-border-width: 0 0 0 2.5;
	 -fx-background-color: #FFFFFF;
}

#member:focused,#member:pressed,#member:hover{
	-fx-background-image: url("/images/member_1.png");
	-fx-background-size: 18px 18px;
	-fx-border-color: linear-gradient(to right, #28c6df, #29c7e0);
	-fx-border-width: 0 0 0 2.5;
	 -fx-background-color: #FFFFFF;
	 
}
#group:focused,#group:pressed,#group:hover{
	-fx-background-image: url("/images/group_1.png");
	-fx-background-size: 18px 18px;
	-fx-border-color: linear-gradient(to right, #28c6df, #29c7e0);
	-fx-border-width: 0 0 0 2.5;
	 -fx-background-color: #FFFFFF;
}
#setting:focused,#setting:pressed,#setting:hover{
	-fx-background-image: url("/images/setting_1.png");
	-fx-background-size: 18px 18px;
	-fx-border-color: linear-gradient(to right, #28c6df, #29c7e0);
	-fx-border-width: 0 0 0 2.5;
	 -fx-background-color: #FFFFFF;
}
#logout:focused,#logout:pressed,#logout:hover{
	-fx-background-image: url("/images/navi-signout.png");
	-fx-background-size: 18px 18px;
	-fx-border-color: linear-gradient(to right, #28c6df, #29c7e0);
	-fx-border-width: 0 0 0 2.5; 
	-fx-background-color: #FFFFFF;
}


#dots{
	-fx-graphic: url("/images/loading.png");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
