.jfx-combo-box{
    -jfx-focus-color: #C2C2C2;
    -jfx-unfocus-color: #C2C2C2;
    -fx-prompt-text-fill: #C2C2C2;
    
}

/*added by nisal*/
/*.combo-box-base {
	-fx-background-color: white, gray, gray, white;
}
.combo-box-base:focused {
	-fx-background-color: white, gray, gray, white;
}*/

.combo-box-base > .arrow-button > .arrow {
   -fx-background-color: gray;
}

.combo-box .cell{
    -fx-text-fill: black;
}
.combo-box .cell:hover {
    -fx-text-fill: white;
}
.under-line {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0 ;
}
.text{
    -fx-font-smoothing-type: gray;
}