@font-face {    
    src: url('/fonts/GT-Walsheim-Pro-Regular.ttf');
   
}
@font-face {    
   
    src: url('/fonts/GT-Walsheim-Pro-Bold.ttf');
}
.root {

    -fx-font-family: "GTWalsheimProRegular";
}
.myLabel {

    -fx-font-family: "GTWalsheimProBold";
}

.jfx-text-field {
         -fx-prompt-text-fill: #D1D5DA; 
}


#start_conversation_btn:hover, #start_conversation_btn:focused, #start_conversation_btn:selected {
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}
.text{
    -fx-font-smoothing-type: gray;
}
#login-btn-focus:focused,#login-btn-focus:hover,  #login-btn-focus:selected {
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;
}
#login-components:focused,#login-components:hover,#login-components:selected{
	-fx-font-size: 14.0px;	
}
#login-component:focused,#login-component:hover,#login-component:selected{
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
}
