.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color:linear-gradient(to right, #39cbe2, #3cdeb5);*/
    /*-fx-background-color:linear-gradient(to right, #39CBE2, #3DDDB9);39DFB5*/
    -fx-background-color: linear-gradient(to right, #39CDE3, #3cdeb5);
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    /*-fx-background-color: #F1F1F1;*/
    -fx-background-color: white;
    /*-fx-text-fill: #1d1d1d;*/
}

.list-cell {
    /*-fx-padding: 8.075;*/
    /*-fx-padding: 12.0 0.0 0.0 8.075;*//*removed by Nisal. this is changing the padding in recent chat user list.*/
    /*-fx-max-width: 25;*/
    /*TODO*/
    /*-fx-pref-width: 205;*/
    /*-fx-max-width: 205;*/
    /*-fx-pref-height: 59;*/
    /*TODO*/

    /*-fx-background-insets: 40 0 0 0;*/
    /*-fx-background-color: #ee4444;*/
}

.list-view {
    -fx-padding: 0.0 0.0 0.0 0.0;
    /*-fx-pref-width: 220;*/
    /*-fx-max-width: 220;*/
    /*-fx-min-width: 220;*/
}

/*.list-view .scroll-bar:vertical {*/
/*-fx-scale-x: 0;*/
/*}*/

/*.VBox:selected {*/
/*-fx-text-fill: white;*/
/*}*/

/*added by Vasu*/
/*user name label*/
#idUserNameLabel {
    -fx-alignment: center;

    -fx-text-fill: black;
}

/*recent chat label*/
#idChatNameLabel, #idChatNameLabel .label {
    -fx-alignment: center;
    -fx-font-size: 12.0px;

    -fx-text-fill: gray;
}

/*user name label*/
#idUserNameLabel.selected {
    -fx-text-fill: white;
}

/*recent chat label*/
#idChatNameLabel.selected, #idChatNameLabel.selected .label {
    -fx-text-fill: white;
}

/*added by Nisal to remove horizontal scroll bar of chat user list view */
#chatting-user-list.scroll-bar:horizontal .increment-arrow,
#chatting-user-list.scroll-bar:horizontal .decrement-arrow,
#chatting-user-list.scroll-bar:horizontal .increment-button,
#chatting-user-list.scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
    -fx-background-color: rgb(0.0,0.0,255.0);
}
.text{
    -fx-font-smoothing-type: gray;
}
