/*added by Vasu*/
/*user name label*/
.recent-chat-item-user-name {
    -fx-alignment: center;

    -fx-text-fill: black;
}

/*user name label*/
.recent-chat-item-last-msg {
    -fx-alignment: center;
    -fx-font-size: 12px;

    -fx-text-fill: gray;
}

/*user name label*/
.recent-chat-item-user-name .selected {
    -fx-alignment: center;

    -fx-text-fill: black;
}

/*user name label*/
.recent-chat-item-last-msg .selected {
    -fx-alignment: center;
    -fx-font-size: 12px;

    -fx-text-fill: gray;
}