.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:linear-gradient(to right, #39cbe2, #3cdeb5);
    -fx-text-fill: white;
}
.HBox:selected {
    -fx-text-fill: white;
}

.list-cell{
    -fx-padding: 10;
    -fx-background-insets: 4 0 0 0;
    -fx-text-fill: gray;
    /*-fx-background-color: #ee4444;*/
}
.list-view{
    -fx-padding: 0 0 0 0;
}

.list-cell.label {
    -fx-text-fill: grey;
    /*-fx-background-image: url("/images/settings-general-white.png");*/
    /*-fx-background-image: list-view.Hbox("/images/settings-general-white.png");*/
}
