.text-field {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0 ;
}
.text-field:focused {
    -fx-background-color: #C2C2C2, white;
}

.text{
    -fx-font-smoothing-type: gray;
}

.text-field .input-line
{
    -fx-background-color:  #f8f7fd ;
}

.text-field .input-line
{
    -fx-text-fill: #d0d5d9 ;
}