
#buttonPanel,#titlePanel{
	-fx-background-color: #f8f7fd;
	}
/*
#chat,#member,#group,#setting,#logout {
    -fx-background-color: transparent;
    -fx-margin : 0;
}

#chat:hover,#member:hover,#group:hover,#setting:hover,#logout:hover {
   	 -fx-background-color: #FFFFFF;
}

#chat:pressed, #chat:default:hover:pressed {
	  -fx-border-color: #aaaaFF;
	  -fx-border-width: 0 0 0 4;
}

#chatImg:focused,#chatImg:pressed,#chatImg:hover{
	-fx-image: url("/images/chat_1.png");
    -fx-size: 19px 22px;
	
}*/


.list-cell{

    -fx-font-size: 11pt;
    -fx-text-fill: #454d58;
	-fx-background-color: white;
}

.list-view {
 	 -fx-background-insets: 0;
 	 -fx-padding: 0;
 	 -fx-border-color: #F1F1F1;
 	 -fx-border-width: 1 0 0 0;
}

#search{
 	 -fx-border-color: #F1F1F1;
  	-fx-border-width: 1 1 0 0;
}

.chat-bubble{
	/*-fx-background-color:linear-gradient(to right, #39cbe2, #3cdeb5);*/
		-fx-background-color:linear-gradient(to right, #85CCD8, #83DEC7);
	
	-fx-background-radius: 20 20 20 20;
	-fx-padding: 10 20 10 20;
	/*-fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);*/
}

.bubble-img{
	
}

.chabbl-rcv{
	-fx-background-color:#ECEBF3;
	-fx-background-radius: 0 5 5 5;
	-fx-padding: 5 5 5 5;
	-fx-font-size: 9pt;
	-fx-text-fill: #797E84;

}

.chabbl-send{
	-fx-background-color:linear-gradient(to right, #39cbe2, #3cdeb5);
	-fx-background-radius: 5 0 5 5;
	-fx-padding: 5 5 5 5;
	-fx-font-size: 9pt;
	-fx-text-fill: #FFFFFF;

}

.hr {
     -fx-background-color: #F1F1F1;
     -fx-background-insets: 2 5 2 10 ;
     -fx-padding: 3 0 2 0  ;
}

#area{
  	-fx-background-color: #FF00FF;
}


.text-area {
    /*-fx-background-insets: 0;*/
    -fx-background-color: #f8f7fd;/*transparent, white, transparent, white; */
}

.text-area .content {
    -fx-background-color: #f8f7fd; /*transparent, white, transparent, white;*/
}

.text-area:focused .content {
    -fx-background-color: #f8f7fd;/*transparent, white, transparent, white;*/
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.scroll-bar{
 -fx-background-color: #FFFFFF;
 -fx-background-radius: 2em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

.jfx-decorator {
    -fx-decorator-color: #F8F7FD;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: #F8F7FD;
    -fx-text-fill: #BBBBC5;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 2 2 2;
}
.jfx-svg-glyph{
	
	 -fx-background-color: #BBBBC5;
	 
}
