.jfx-decorator {
    -fx-decorator-color: #F8F7FD;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: #F8F7FD;
    -fx-text-fill: #BBBBC5;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 2 2 2;
}
.jfx-svg-glyph{
	
	 -fx-background-color: #BBBBC5;
	 
}