
.toggle-switch .thumb-area{
    -fx-background-radius: 1em;
     -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            linear-gradient(to bottom, derive(  gray, 30%),   gray);
    -fx-background-insets: 0, 1;
}
.toggle-switch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            linear-gradient(to bottom, derive( #39d1d3, 30%),  #39d1d3);
    -fx-background-insets: 0, 1;

}


