BODY {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #FFFFFF;
}

.text {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
}

input, textarea, select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#black {
	color: #000000;
	font-weight: BOLD;
}

#white {
	color: FFFFFF;
	font-weight: BOLD;
}

#bigWhite {
	color: FFFFFF;
	font-weight: BOLD;
	font-size: 14px;
}

#bigBlack {
	font-weight: BOLD;
	font-size: 18px;
}